.loading{
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
    background: #124c62;
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
}
.container{
    align-items: center;
    background: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

@keyframes sk-scaleout{
    0%{
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.5;
        transform: scale(1);
    }
}